@import url(reset.css);
@import url(cabecalho.css);
@import url(menu-lateral.css);
@import url(secao-superior.css);
@import url(videos.css);
@import url(rodape.css);

*,
*::before,
*::after {
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

@media(min-width: 834px) {

    body {
        height: 100vh;
    }

    /* CABECALHO */

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* ESTILOS DO MENU LATERAL */

    .menu__container {
        font-size: 16px;
    }

    .menu__lista {
        padding-top: 15px;
    }

    .menu__lista li {
        width: 100%;
    }

    /* ESTILOS DA SECAO SUPERIOR */

    .superior__secao__container {
        border-top: var(--azul-medio) 1px solid;
        border-bottom: var(--azul-medio) 1px solid;
        width: auto;
        left: 82px;
    }

    /*ESTILOS SEÇÃO VÍDEOS */

    .videos__container {
        padding-left: 90px;
        padding-right: 17px;
    }

    .videos__item:hover {
        transform: scale(1.3);
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        height: 420px;
        padding-left: 74px;
        justify-content: space-between;
    }

}

@media(min-width: 1440px) {

    /* SEÇÃO SUPERIOR */

    .superior__secao__container {
        left: 247px;
    }

    /* ESTILOS DO MENU LATERAL */

    .menu__lista {
        border-bottom: 1.5px solid var(--azul-medio);
        height: auto;
        flex-direction: column;
        gap: 15px;
        overflow: hidden;
        padding: 20px 17px 20px 16px;
    }

    .menu__itens{
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    /* ESTILOS VIDEOS */

    .videos__container {
        padding-right: 10px;
        padding-left: 248px;
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        padding-left: 240px;
        height: 225px;
    }

    .menu__container {
        width: 240px;
        height: 100%;
        overflow-y: scroll;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }

    .jogos{
        order: 3;
    }

    .filmes{
        order: 2;
    }

    .premium{
        order: 1;
    }

    .maispagina{
        order: 4;
    }
}